<!DOCTYPE html>
<html>
  <head>
    <title>Recommended Foods</title>
  </head>
{% block body %}
<h1 style="text-align: center"> Recommended Dishes: </h1>
<h2>No results will show if there are no recommendations</h2>
      {% if recipes.results %}
      {% for recipe in recipes.results %}
      <div>
          <ul style="list-style: none;"
          <br>
          <img src="{{recipe['image']}}" class="align-self-center" alt="..." width="15%" height="15%">
              <h5 class="mt-0 mb-1">{{ recipe['title'] }}</h5>
                  Health Rating: {{recipe['healthScore']}} <br>
                  Weight Watcher Points: {{recipe['weightWatcherSmartPoints']}} <br>
                  Preparation Time: {{recipe['readyInMinutes']}} <br>
          <br>
          </ul>
      </div>
      {% endfor %}
      {% endif %}
  </ul>
</div >
{% endblock %}
</html>
