<!DOCTYPE html>
<html>
  <head>
    <title>Nutrition Info</title>
  </head>
{% block body %}
<h1 style="text-align: center"> Nutrition Information: </h1>
<h2>No results will show if there is no available information</h2>
<h3>Nutrition facts of a similar dish, drink, or ingredient may be shown if information on your search input was not recognized.</h3>
      {% if info %}
      {% for x in info['items'] %}
      <div>
          <ul style="list-style: none;"
          <br>
              <h3 class="mt-0 mb-1">{{x['name']}} </h3>
              Sugar (in grams): <b>{{x['sugar_g']}}</b><br>
              Fiber (in grams): <b>{{x['fiber_g']}}</b><br>
              Serving Size (in grams): <b>{{x['serving_size_g']}}</b><br>
              Sodium (in milligrams): <b>{{x['sodium_mg']}}</b><br>
              Potassium (in milligrams): <b>{{x['potassium_mg']}}</b><br>
              Fat Saturated (in grams): <b>{{x['fat_saturated_g']}}</b><br>
              Total Fat (in grams): <b>{{x['fat_total_g']}}</b><br>
              Calories: <b>{{x['calories']}}</b><br>
              Cholesterol (in grams): <b>{{x['cholesterol_mg']}}</b><br>
              Protein (in grams): <b>{{x['protein_g']}}</b><br>
              Total Carbohydrates (in grams): <b>{{x['carbohydrates_total_g']}}</b><br>
          </ul>
      </div>
      {% endfor %}
      {% endif %}
  </ul>
</div >
{% endblock %}
</html>
